body {
    background: blueviolet;
}


p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    background: violet;
    padding: 10px;
    border: 10px dotted hotpink;
    border-radius: 20%;
}

#title {
    color:white;
    font-size: 20px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-transform: uppercase; /** uppercase é para caps **/
    text-decoration: underline;
    text
}

#list {
    list-style-image: url("icon-list.png");
}